<form action="/pizzas/<%= @pizza.id %>" method="POST">

  <label for="first-name-input">First name:</label>
  <input
  id="first-name-input"
  type="text"
  name="first_name"
  value="<%= @pizza.first_name %>"
  >

  <label for="last-name-input">Last name:</label>
  <input
  id="last-name-input"
  type="text"
  name="last_name"
  value="<%= @pizza.last_name %>"
  >

  <label for="Topping-select">Topping-select:</label>
  <select class="" name="topping" id="topping-select">
    <option value="Pepperoni" <%= "selected" if @pizza.topping == 'Pepperoni'%>>Pepperoni</options>
      <option value="Italian Sausage"<%= "selected" if @pizza.topping == 'Italian Sausage'%>>Italian Sausage</option>
      <option value="Mushroom"<%= "selected" if @pizza.topping == 'Mushroom'%>>Mushroom</option>
      <option value="Ham and Pineapple"<%= "selected" if @pizza.topping == 'Ham and Pineapple'%>>Ham and Pineapple</option>
    </select>

    <label for="quantity-input">Quantity:</label>
    <input
    id="quantity-input"
    type="number"
    min="1"
    name="quantity"
    value="<%= @pizza.quantity %>"
    >


    <input type="submit" name="" value="Update Order">





  </form>
