<!-- write form and then table -->
<!-- action is the path where do we add (post); method is the html method that we use, -->
<form action="/pizzas/<%= @pizza.id %>" method="POST">

  <!-- label and table -->
  <label for="first-name-input">First name:</label>
  <!-- input and tab -->
  <input
  id="first-name-input"
  type="text"
  name="first_name"
  value="<%= @pizza.first_name %>"
  >

  <label for="last-name-input">Last name:</label>
  <input
  id="last-name-input"
  type="text"
  name="last_name"
  value="<%= @pizza.last_name %>"
  >



  <label for="Topping-select">Topping-select:</label>
  <!-- select and tab -->
  <select class="" name="topping" id="topping-select">
    <option value="<%= @pizza.topping %>"><%= @pizza.topping %></options>
    <option value="Pepperoni">Pepperoni</options>
      <option value="Italian Sausage">Italian Sausage</option>
      <option value="Mushroom">Mushroom</option>
    </select>


    <label for="quantity-input">Quantity:</label>
    <input
    id="quantity-input"
    type="number"
    name="quantity"
    value="<%= @pizza.quantity %>"
    >


    <input type="submit" name="" value="Update Order">





  </form>
